<!-- templates/registration/signup.html -->
{% extends "base.html" %}

{% block title %} Profile Page {% endblock %}

{% block style %} 

<style>



/**
 * Panels
 */
/*** General styles ***/
.panel {
  box-shadow: none;
}
.panel-heading {
  border-bottom: 0;
}
.panel-title {
  font-size: 17px;
}
.panel-title > small {
  font-size: .75em;
  color: #999999;
}
.panel-body *:first-child {
  margin-top: 0;
}
.panel-footer {
  border-top: 0;
}

.panel-default > .panel-heading {
    color: #333333;
    background-color: transparent;
    border-color: rgba(0, 0, 0, 0.07);
}

form label {
    color: #999999;
    font-weight: 400;
}

.form-horizontal .form-group {
  margin-left: -15px;
  margin-right: -15px;
}
@media (min-width: 768px) {
  .form-horizontal .control-label {
    text-align: right;
    margin-bottom: 0;
    padding-top: 7px;
  }
}

.profile__contact-info-icon {
    float: left;
    font-size: 18px;
    color: #999999;
}
.profile__contact-info-body {
    overflow: hidden;
    padding-left: 20px;
    color: #999999;
}
.profile-avatar {
  width: 200px;
  position: relative;
  margin: 0px auto;
  margin-top: 196px;
  border: 4px solid #f3f3f3;
}




</style>

{% endblock %}

{% block content %}
{% if user.is_authenticated %}

{% if messages %}
<div class="messages">
{% for message in messages %}
  <div class="alert {% if message.tags %}alert-{{ message.tags }}"{% endif %}>
    {{ message }}
  </div>
{% endfor %}
</div>
{% endif %}


<p class="lead"><a href="{% url 'logout' %}" class="btn btn-default btn-outline-primary">Log Out</a></p>


<div class="container bootstrap snippets bootdeys">
<div class="row">
  <div class="col-xs-12 col-sm-9">
    <form class="form-horizontal" name="enq" method="post" action="submit" onsubmit="return validation();">
        {% csrf_token %}
      <div class="panel panel-default">
        <div class="panel-heading">
        <h4 class="panel-title">User info</h4>
        </div>
        <div class="panel-body">
          <div class="form-group">
            <label class="col-sm-2 control-label">gender</label>

            {% if user.gender != "male" and user.gender != "female" %}

            <div class="col-sm-10">
                <select class="form-control" name = "gender">
                  <option selected="">Select gender</option>
                  <option value = "male">male</option>
                  <option value = "female">female</option>
                  <option value = "female">other</option>
                </select>
              </div>
            
            
            {% elif user.gender == "female" %}
            
            <div class="col-sm-10">
                <select class="form-control" name = "gender">
                  <option selected="">Select gender</option>
                  <option value = "male">male</option>
                  <option value = "female" selected>female</option>
                  <option value = "female">other</option>
                </select>
              </div>
            {% else %}

            <div class="col-sm-10">
                <select class="form-control" name = "gender">
                  <option selected="">Select gender</option>
                  <option value = "male" selected>male</option>
                  <option value = "female">female</option>
                  <option value = "female">other</option>
                </select>
              </div>
            
            {% endif %}


          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">first name</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name = "first_name" value =  '{{ user.first_name }}'>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">last name</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name = "last_name" value =  '{{ user.last_name }}'>
            </div>
          </div>
        <div class="panel-body">
          <div class="form-group">
            <label class="col-sm-2 control-label">Mobile number</label>
            <div class="col-sm-10">
              <input type="tel" class="form-control" name = "phone_number" value =  '{{ user.phone_number }}'>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">E-mail address</label>
            <div class="col-sm-10">
              <input type="email" class="form-control" name = "email" value =  '{{ user.email }}'  >
            </div>
          </div>

          <div class="form-group">
            <label for="birthdate">Birthdate</label>
            <div class="col-sm-10">
                <input type="date" id="birthdate" name="birthdate" value='{{ user.dob|slugify }}'>
            </div>
          </div>
          
        </div>
      </div>
          <div class="form-group">
            <div class="col-sm-10 col-sm-offset-2">
              <button type="submit" class="btn btn-primary">Submit</button>
              <button type="reset" class="btn btn-default">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
</div>




{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log In</a>
{% endif %}
{% endblock %}