<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block style %}
<style>

body {
			font-family: Arial, sans-serif;
		}
		.container {
			margin: 20px auto;
      min-width: 800px;
			max-width: 1400px;
			border: 1px solid #ccc;
			padding: 40px;
		}
		h1 {
			font-size: 24px;
			margin-bottom: 10px;
		}
		.row {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-bottom: 10px;
		}
		.col-6 {
			flex-basis: 50%;
			max-width: 50%;
		}
		.col-3 {
			flex-basis: 25%;
			max-width: 25%;
		}
		.col-9 {
			flex-basis: 75%;
			max-width: 75%;
		}
		.label {
			font-weight: bold;
			margin-right: 10px;
		}
		.value {
			font-weight: normal;
		}
		.ticket-info {
			background-color: #eee;
			padding: 10px;
			margin-bottom: 10px;
		}

</style>

{% endblock %}

{% block content %}


{% if messages %}
<div class="messages">
{% for message in messages %}
  <div class="alert {% if message.tags %}alert-{{ message.tags }}"{% endif %}>
    {{ message }}
  </div>
{% endfor %}
</div>
{% endif %}



{% if user.is_authenticated %}
  <table style="margin-left: 20%;">
    <tr>
    </tr>
    {% for t in short_list%}
    <tr>
        <td>

          <div class="container">
            <h1>Flight Ticket</h1>
            <div class="ticket-info">
              <div class="row">
                <div class="col-6">
                  <span class="label">Order ID:</span>
                  <span class="value"> {{ t.id }} </span>
                </div>
                <div class="col-6">
                  <span class="label"></span>
                  <span class="value"></span>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <span class="label">From:</span>
                  <span class="value">{{ t.dept_iata }}</span>
                </div>
                <div class="col-6">
                  <span class="label">To:</span>
                  <span class="value">{{ t.arr_iata }}</span>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <span class="label">Departure Time:</span>
                  <span class="value">{{ t.dept_time }}</span>
                </div>
                <div class="col-6">
                  <span class="label">Arrival Time:</span>
                  <span class="value">{{ t.arr_time }}</span>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <span class="label">Departure Date:</span>
                  <span class="value">{{ t.dept_date }}</span>
                </div>
                <div class="col-6">
                  <span class="label">Arrival Date:</span>
                  <span class="value">{{ t.arr_date }}</span>
                </div>
              </div>
              <div class="row">
                <div class="col-3">
                  <span class="label">Class:</span>
                  <span class="value">{{ t.class }}</span>
                </div>
                <div class="col-3">
                  <span class="label">Seat:</span>
                  <span class="value">15B</span>
                </div>
                <div class="col-6">
                  <span class="label">Price:</span>
                  <span class="value">{{ t.price }}</span>
                </div>
              </div>
            </div>


            
            <a href="#bblbalba" class="showmemore"><i class="bi bi-plus-square-fill"></i></a>
            <div class="more">

              <div class="ticket-info">
                <div class="row">
                  <div class="col-6">
                    <span class="label">Itinerary:</span>
                  </div>
                  <div class="col-6">
                    <span class="label"></span>
                    <span class="value"></span>
                  </div>
                </div>

                {% for m in t.itinerary%}

                <div class="row">
                  <div class="col-6">
                    <span class="label">From:</span>
                    <span class="value">{{ m.dept_iata }}</span>
                  </div>
                  <div class="col-6">
                    <span class="label">To:</span>
                    <span class="value">{{ m.arr_iata }}</span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <span class="label">Departure Time:</span>
                    <span class="value">{{ m.dept_time }}</span>
                  </div>
                  <div class="col-6">
                    <span class="label">Arrival Time:</span>
                    <span class="value">{{ m.arr_time }}</span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <span class="label">Departure Date:</span>
                    <span class="value">{{ m.dept_date }}</span>
                  </div>
                  <div class="col-6">
                    <span class="label">Arrival Date:</span>
                    <span class="value">{{ m.arr_date }}</span>
                  </div>
                </div>
        
                {% endfor %}
              </div>


              <div class="border-top my-3"></div>


              <form action="{% url 'ticket_delete' t.ticket.id %}" method="POST">
                {% csrf_token %}
                <input type="submit" value="Request Refund"/>
              </form>
              
            </div>

          </div>

      </td>
        <td>
        </td>
      </tr>
    {% endfor %}

    <script>

      $('div.more').hide()
      $('a.showmemore').click(function(){
      $(this).next('div').slideToggle()
      })

    </script>

 </table>


{% else %}
  <p>must log in to view tickets</p>
  <a href="{% url 'login' %}">Log In</a>
{% endif %}
{% endblock %}